---
layout: default
title: All Tours and Treks | Ethnic Hilltribe Eco Trails
description:
keywords:
---
<header>
  <!-- this is the half-height header hero with paper tear underneath -->
  <div class="bg-tours bg-half-hero"></div>
  <div class="tear-half-hero-bottom">
    <img src="/images/tear-hero-bottom.png"/>
  </div>
  <!-- this is the tour introduction that appears above the fold -->
  <div class="tour-intro text-center section-padding">
    <h1>Our Tours and Treks</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <!-- <a><button class="button-wide">Book Now →</button></a> -->
    <a href="#choose"><i class="fa fa-angle-double-down text-big text-turq" aria-hidden="true"></i></a>
  </div>
</header>
<section id="choose" class="text-center">
  <h2 class="pad-bottom-s">Choose Your Next Adventure</h2>
  <div class="grid-spaceAround">
    <a href="#trek" class="col-3_md-4_sm-12"><div class="bg-trek">
      <h3 class="text-choosetour">Trekking with Ethnic Hilltribe Eco Trails</h3>
    </div></a>
    <a href="#treksee" class="col-3_md-4_sm-12"><div class="bg-treksee">
      <h3 class="text-choosetour">Trekking and Sightseeing</h3>
    </div></a>
    <a href="#trekadventure" class="col-3_md-4_sm-12"><div class="bg-trekadventure">
      <h3 class="text-choosetour">Trekking and Adventure Sports</h3>
    </div></a>
  </div>
</section>
<section id="trek" class="pad-top-m">
  <h2 class="text-center bg-turq text-white pad-all-xs">Trekking with Ethnic Hilltribe Eco Trails</h2>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
  <span class="line-dotted-turq"></span>
  <!-- this is a repeating array which pulls content from front-matter of tour pages -->
  {% for tours in site.tours %}
    <!-- filter tours based on details in front-matter -->
    {% if tours.tourgroup == "trek" %}
      <div class="grid">
        <div class="col-4_md-12">
          <img src="{{tours.image}}"/>
        </div>
        <div class="col-8_md-12 text-center-mobile">
          <h3>{{tours.title}}</h3>
          <p>
            {{tours.description}}
          </p>
          <a href="{{tours.url}}"><button class="button-main">Learn More and Book</button></a>
        </div>
        <span class="line-dotted-turq"></span>
      </div>
    {% endif %}
  {% endfor %}
</section>
<section id="treksee" class="pad-top-m">
  <h2 class="text-center bg-turq text-white pad-all-xs">Trekking and Sightseeing</h2>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
  <span class="line-dotted-turq"></span>
  <!-- this is a repeating array which pulls content from front-matter of tour pages -->
  {% for tours in site.tours %}
    <!-- filter tours based on details in front-matter -->
    {% if tours.tourgroup == "see" %}
      <div class="grid">
        <div class="col-4_md-12">
          <img src="{{tours.image}}"/>
        </div>
        <div class="col-8_md-12 text-center-mobile">
          <h3>{{tours.title}}</h3>
          <p>
            {{tours.description}}
          </p>
          <a href="{{tours.url}}"><button class="button-main">Learn More and Book</button></a>
        </div>
        <span class="line-dotted-turq"></span>
      </div>
    {% endif %}
  {% endfor %}
</section>
<section id="trekadventure" class="pad-top-m pad-bottom-m">
  <h2 class="text-center bg-turq text-white pad-all-xs">Trekking and Adventure Sports</h2>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
  <span class="line-dotted-turq"></span>
  <!-- this is a repeating array which pulls content from front-matter of tour pages -->
  {% for tours in site.tours %}
    <!-- filter tours based on details in front-matter -->
    {% if tours.tourgroup == "adventure" %}
      <div class="grid">
        <div class="col-4_md-12">
          <img src="{{tours.image}}"/>
        </div>
        <div class="col-8_md-12 text-center-mobile">
          <h3>{{tours.title}}</h3>
          <p>
            {{tours.description}}
          </p>
          <a href="{{tours.url}}"><button class="button-main">Learn More and Book</button></a>
        </div>
        <span class="line-dotted-turq"></span>
      </div>
    {% endif %}
  {% endfor %}
</section>
</section>
<div class="tear-top">
  <img src="/images/tear-top.png"/>
</div>
<section class="bg-image-bottom">
  <div class="bg-image-bottom-container bg-not-sure">
  </div>
</section>
