---
layout: default
title: Trekking in Thailand | Ethnic Hiltribe Eco Trails
description:
keywords:
---
<header class="bg-home-hero grid-center">
  <h1 class="home-title text-white">Trek Thailand</h1>
  <div class="home-hero-FOREground-layer"></div>
  <div class="tear-hero-bottom">
    <img src="/images/tear-hero-bottom.png"/>
  </div>
</header>
<section class="text-center">
  <h2>Eco Tours and Treks in Northern Thailand</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <div class="grid-spaceBetween pad-top-s">
    <div class="col-4_sm-12">
      <h3>Family Run</h3>
      <img src="/images/icon-familyrun.png" class="home-icons pad-all-s"/>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-4_sm-12">
      <h3>Off the Beaten Path</h3>
      <img src="/images/icon-offthepath.png" class="home-icons pad-all-s"/>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-4_sm-12">
      <h3>Sustainable</h3>
      <img src="/images/icon-sustainable.png" class="home-icons pad-all-s"/>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <a href="#tours"><i class="fa fa-angle-double-down text-big text-turq" aria-hidden="true"></i></a>
</section>
<div class="tear-top">
  <img src="/images/tear-top.png"/>
</div>
<section class="bg-reviews bg-image-between-tears">
  <div class="reviews-container grid-center">
    <div class="col-6_sm-12 outline-turq bg-trans text-center pad-all-s">
      <h3>True Trekking</h3>
      <p>
        “Ethnic Hilltribe Eco Trails is the real deal as regards treks.”
      </p>
      <img class="tripadvisor" src="/images/tripadvisorlogo.png"/>
      <div class="grid-center text-turq text-big pad-all-xs margin-bottom-s">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <a href="https://www.tripadvisor.com/Attraction_Review-g293917-d12980836-Reviews-Ethnic_Hilltribe_Eco_Trails-Chiang_Mai.html" target="blank"><button class="button-main">Read More Reviews</button></a>
    </div>
  </div>
</section>
<div class="grid-bottom tear-bottom">
  <img src="/images/tear-bottom.png"/>
</div>
<section id="tours" class="scoot-up">
  <h2 class="text-center bg-turq text-white pad-all-xs">Featured Tours and Treks</h2>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
  <span class="line-dotted-turq"></span>
  <!-- this is a repeating array which pulls content from front-matter of tour pages -->
  {% for tours in site.tours reversed %}
    <!-- filter tours based on details in front-matter -->
    {% if tours.showonhome == "show" %}
      <div class="grid">
        <div class="col-4_sm-12">
          <img src="{{tours.image-main}}"/>
        </div>
        <div class="col-8_sm-12">
          <h3>{{tours.title}}</h3>
          <p>
            {{tours.description}}
          </p>
          <a href="{{tours.url}}"><button class="button-main">Learn More and Book</button></a>
        </div>
        <span class="line-dotted-turq"></span>
      </div>
    {% endif %}
  {% endfor %}
  <a href="all-tours"><button class="button-wide">See All Tours</button></a>
</section>
<div class="tear-top">
  <img src="/images/tear-top.png"/>
</div>
<section class="bg-image-bottom">
  <div class="bg-image-bottom-container bg-pick-date">
  </div>
</section>
