<nav class="nav grid-spaceAround text-center">
  <a href="/"><p class="nav-link">Home</p></a>
  <a href="/all-tours"><p class="nav-link">Tours & Treks</p></a>
  <a href="/about"><p class="nav-link">About Us</p></a>
  <div class="logo-container">
    <a href="/"><img src="/images/ethnichilltribeecotraillogo.png" class="text-shadow"/></a>
  </div>
  <a href="/gallery"><p class="nav-link">Gallery</p></a>
  <a href="/contact"><p class="nav-link">Contact & FAQs</p></a>
  <a href=""><p class="emphasize-button">Book Now</p></a>
</nav>
