<nav id="top" class="nav grid-spaceAround-middle text-center">
  <a href="/"><p class="nav-link">Home</p></a>
  <a href="/all-tours"><p class="nav-link">Tours & Treks</p></a>
  <a href="/about"><p class="nav-link">About Us</p></a>
  <div class="logo-container">
    <a href="/"><img src="/images/ethnichilltribeecotraillogo.png" class="text-shadow"/></a>
  </div>
  <a href="/gallery"><p class="nav-link">Gallery</p></a>
  <a href="/contact"><p class="nav-link">Contact & FAQs</p></a>
  <a href="/book"><p class="emphasize-button">Book Now</p></a>
</nav>

<!-- mobile nav header -->
<nav class="nav-mobile grid-spaceBetween-middle">
  <div class="logo-container margin-left-s">
    <a href="/"><img src="/images/ethnichilltribeecotraillogo.png" class="text-shadow"/></a>
  </div>
  <div class="toggle-mobile-menu margin-right-s">
    <i class="fa fa-bars text-big text-white text-shadow" aria-hidden="true"></i>
  </div>
</nav>

<!-- mobile nav menu -->
<nav id="mobile-menu">
  <div class="pad-top-m pad-bottom-s">
    <a href="#" class="toggle-mobile-menu">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
  <a href="/"><p>Home</p></a>
  <a href="/all-tours"><p>Tours & Treks</p></a>
  <a href="/about"><p>About Us</p></a>
  <a href="/gallery"><p>Gallery</p></a>
  <a href="/contact"><p>Contact & FAQs</p></a>
  <div class="grid-middle-spaceBetween margin-left-l margin-right-l pad-top-s">
    <a href="https://www.facebook.com/Ethnichilltribeecotrails" target=blank class=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/ethnichilltribetrails/" target=blank class=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.tripadvisor.com/Attraction_Review-g293917-d12980836-Reviews-Ethnic_Hilltribe_Eco_Trails-Chiang_Mai.html" target=blank class=""><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
  </div>
</nav>

<!-- scroll to top container (floats near the bottom right) -->
<a href="#top" class="scroll-to-top-container"><i class="fa fa-arrow-circle-up scroll-to-top-icon" aria-hidden="true"></i></a>
