<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/main.js" type="text/javascript"></script>
<!-- BEGIN: VACATION LABS INTEGRATION CODE -->
<script type="text/javascript" id="vl-0619547e05486722d9ae2efbd27e3d98">
  window.VL = window.VL || {};
  VL.client_key = "0619547e05486722d9ae2efbd27e3d98";
  VL.domain = "app.vacationlabs.com";

  (function(window, document) {
    var sc = document.createElement('script');
    sc.type = 'text/javascript';
    sc.async = true;
    sc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + VL.domain + '/trips/integration-'+VL.client_key+'.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(sc, s);
  })(window, document);
</script>
<!-- END: VACATION LABS INTEGRATION CODE -->
